@font-face {
  font-family: Beauty;
  src: url(BeautyFlowers.ttf);
}
@font-face {
  font-family: Pinzelar;
  src: url(PinzelanRegular.ttf);
}
body {
  margin: 0;
  
}
.header{
  display: flex;
  justify-content:space-between;
  margin: auto;
  align-items: center;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  font-size: 12px;
  padding: 10px 40px;

}
.img--logo{
  
  height: 100%;
}